<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>WWeatherUI</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1></h1>
    </header>

    <main>
      <h1>
        WeatherUI
      </h1>
      <img
        class="App-logo asWell"
        alt="I'm supposed to be an image...I am such a failure."
        src="img/sun.svg"
      />

      <p>Tell me your hopes and dreams:</p>
      <img
        src="https://openweathermap.org/img/wn/04n.png"
        alt=""
        class="icon"
      />
      <form>
        <label>
          pick a city
          <input
            type="text"
            name="dream"
            class="search-bar"
            placeholder="Any Major City"
          />
        </label>
        <button id="SwitchColor"><span></span></button>
      </form>

      <section class="dreams">
        <div class="card">
          <div class="weather loading">
            <h3 class="city"></h2>
            <h3 class="temp">°F</h1>
            <div class="flex">
              <div class="description"></div>
            </div>
            <div class="humidity">Humidity: %</div>
            <div class="wind">Wind speed: mi/h</div>
          </div>
        </div>
      </section>
    </main>

    <footer>Made with <a href="https://glitch.com">♡</a></footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
  <script src="index.js"></script>
</html>
